In [1]:
import csv
import itertools
import pandas as pd
import numpy as np
import networkx as nx
import pickle

In [4]:
#Opens training labels ob file
file_to_read= open('training_labels_combined.ob', 'rb')
y_train = pickle.load(file_to_read)

#Opens training_set
X_train=pd.read_csv("train_transformed.csv")
X_train.drop(['Unnamed: 0'],axis=1, inplace=True)
X_train.drop(['count'],axis=1, inplace=True)

X_train.rename(columns={'Author_A':'Source'}, inplace=True)
X_train.rename(columns={'Author_B':'Sink'}, inplace=True)
#Opens test_set
X_test=pd.read_csv("test_transformed.csv")
X_test.drop(['Unnamed: 0'],axis=1, inplace=True)
X_test.drop(['Id'],axis=1, inplace=True)
X_train

       Source  Sink        aa        ra        jc   pa
0           0  1236  2.471649  0.531746  0.428571   96
1           0  1655  2.976054  0.668651  0.466667  112
2           0  1797  2.899858  0.628968  0.700000   72
3           0  2414  2.471649  0.531746  0.600000   64
4           0  2568  2.976054  0.668651  0.466667  112
...       ...   ...       ...       ...       ...  ...
32067     999  2038  0.000000  0.000000  0.000000  510
32068     999  2250  0.000000  0.000000  0.000000   30
32069     999  2600  0.000000  0.000000  0.000000  310
32070     999  2905  0.000000  0.000000  0.000000  140
32071     999  3926  0.000000  0.000000  0.000000   60

[32072 rows x 6 columns]

In [5]:

X_test

      Source  Sink        aa        ra        jc   pa
0          0  2917  0.000000  0.000000  0.000000   56
1          0  2956  0.000000  0.000000  0.000000   24
2          1  4038  0.000000  0.000000  0.000000  496
3          2  1848  1.242670  0.400000  0.080000   72
4          3   513  0.000000  0.000000  0.000000  391
...      ...   ...       ...       ...       ...  ...
1995    3865  3924  0.000000  0.000000  0.000000    2
1996    3917  4025  0.000000  0.000000  0.000000    2
1997    3922  3947  0.000000  0.000000  0.000000  116
1998    3955  3987  1.766048  0.424368  0.053333  370
1999    3993  4063  0.000000  0.000000  0.000000   15

[2000 rows x 6 columns]

In [16]:
import xgboost as xgb

xgb_model = xgb.XGBRegressor(objective="binary:logistic")

xgb_model.fit(X_train, y_train)

[18:00:23] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=12, num_parallel_tree=1,
             objective='binary:logistic', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [17]:
result=pd.DataFrame(xgb_model.predict(X_test))
result.reset_index(inplace=True)
result.columns=['Id','Predicted']
result['Id']=[i+1 for i in result['Id']]
result.to_csv('preds.csv',index=False)
result

        Id  Predicted
0        1   0.015596
1        2   0.045330
2        3   0.006326
3        4   0.999945
4        5   0.005092
...    ...        ...
1995  1996   0.486262
1996  1997   0.706122
1997  1998   0.009473
1998  1999   0.999777
1999  2000   0.083469

[2000 rows x 2 columns]